.SingIn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
footer {
  display: flex;
  min-width: 100%;
  min-height: 50px;
  background-color: black;
  justify-content: space-around;
}
.main-container {
  width: 960px;
  margin: 0 auto;
}
.logOut {
  background-color: black;
  color: white;
  position: relative;
  font-size: 30px;
}
#link-items {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
